.rich-textbox {

    &__title {
        color: $dark-75;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
    }

    &__text {
        color: $dark-50;
        font-size: 12px;
        line-height: 14px;
    }
}
