.room-card {
    &__image {
        max-width: 100%;
        border-radius: 4px 4px 0 0;
        & img {
            border-radius: 4px 4px 0 0;
        }
    }



    &__text {
        margin: 20px;
    }

    &__number {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        margin-right: 8px;
    }

    &__number-digits {
        font-size: 16px;
    }

    &__price {
        font-size: 14px;
        line-height: 18px;

        color: $dark-50;
    }

    &__price-sum {
        font-weight: bold;
    }


    &__luxery-mark {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;

        /* identical to box height */
        text-transform: uppercase;

        /* Primary Color */
        color: #BC9CFF;
    }

    &__info {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        border-bottom: 1px solid $dark-10;
        padding-bottom: 10px;
    }

    &__info-left {
        display: flex;
        align-items: baseline;
    }

    &__rating  {
        background: $primary-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__reviews {
        display: flex;

        padding-top: 8px;
        justify-content: space-between;
    }

    &__reviews-counter {
        font-size: 14px;
        line-height: 18px;
        color: $dark-50;
    }

    &__review-number {
        font-weight: bold;
    }
}
