extends ../layout

block content
    -
        var availabilityOpts = {
            name: "availability",
            placeholder: "2 спальни, 2 кровати...",
            items: [{
                title: "Спальни",
                min: 1,
                max: 4,
                defaultValue: "2"
            }, {
                title: "Кровати",
                min: 1,
                max: 4,
                defaultValue: "2"
            }, {
                title: "Ванные комнаты",
                min: 0,
                max: 4,
                defaultValue: "0"
            }]
        }

        var guestsOpts = {
            name: "guests",
            placeholder: "3 гостя, 1 младенец",
            items: [{
                title: "Гости",
                min: 1,
                max: 6,
                defaultValue: "1"
            }, {
                title: "Младенцы",
                min: 0,
                max: 6,
                defaultValue: "0"
            }]
        }

        var rulesCheckboxes = [
            {
                label: "Можно курить",
                name: "isSmokingAllowed"
            },
            {
                label: "Можно с питомцами",
                name: "arePetsAllowed"
            },
            {
                label: "Можно пригласить гостей",
                name: "areGuestsAllowed"
            },
        ]

        var additionalCheckboxes = [
            {
                label: "Завтрак",
                name: "hasBreakfast"
            },
            {
                label: "Письменный стол",
                name: "hasWritingTable"
            },
            {
                label: "Стол для кормления",
                name: "hasFeedingTable"
            },
            {
                label: "Кроватка",
                name: "hasChildBed"
            },
            {
                label: "Телевизор",
                name: "hasTV"
            },
            {
                label: "Шампунь",
                name: "hasShampoo"
            }
        ]


    .container
        .search
            .search__filters
                form(method="PUSH")
                    .form__group
                        label.form__label(for="period") Даты пребывания в отеле
                        input.form__input(name="period" type="text" placeholder="19 авг - 23 авг")
                    .form__group
                        label.form__label(for="guestNumber") Гости
                        +dropdown-select(guestsOpts)
                    .form__group
                        label.form__label(for="priceRange") Диапазон цены
                            .form__label-subtext 5 000₽ - 10 000₽
                        input.form__input(name="priceRange" type="range")
                        p.form__input-subtext Стоимость за сутки пребывания в номере

                    .form__group
                        label.form__label(for="rules") Правила дома

                        for checkboxOpts in rulesCheckboxes
                            +checkbox(checkboxOpts)

                    .form__group
                        label.form__label(for="availability") Доступность

                        .form__rich-textbox
                            +rich-textbox("Широкий коридор", "Ширина коридоров в номере не менее 91 см.", "wideCorridor")

                        .form__rich-textbox
                            +rich-textbox("Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера.", "disabledHelper")

                    .form__group
                        label.form__label(for="availability") Удобства номера
                        +dropdown-select(availabilityOpts)

                    .form__group
                        label.form__label(for="period") Дополнительные удобства

                        for checkboxOpts in additionalCheckboxes
                            +checkbox(checkboxOpts)
