mixin rich-textbox(title="", text="", id="")
    .rich-textbox
        label.checkbox
            input(type="checkbox" name=id)

            .checkbox__label
                .rich-textbox__title= title
                .rich-textbox__text= text
