include components/mixins.pug
include mixins/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title Toxin

        link(rel="stylesheet" href="./sass/style.sass")

        block head

    body
        .page
            .page__header
                include components/header/header.pug

            main.page__content

                block content

            .page__footer
                include components/footer/footer.pug
