// common.scss
// This file contains styles that are common for the whole project

* {
  box-sizing: border-box;
  font-family: $font-primary;
}

body {
  background: white;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
}

a {
  font-family: $font-primary;
}


//////////////////
//  TYPOGRAPHY  //
//////////////////
h1, h2, h3, p {
  font-family: $font-primary;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  margin-bottom: 21px;
  font-size: 24px;
  line-height: 29px;
}

h2 {
  font-size: 19px;
  line-height: 23px;
}

h3 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

p {
  font-size: 12px;
  line-height: 24px;
}

/////////////////////
//  Form elements  //
/////////////////////
input, select {
  font-size: 14px;
  line-height: 18px;
}

select, input[type="text"], input[type="date"] {
  width: 100%;
  border: 1px solid $dark-25;
  border-radius: 4px;

  padding: 13px 15px;


  &:hover, &:focus {
    border: 1px solid $dark-50;
  }
}

// Hide default select value (placeholder) from selection menu
option[value=""][disabled] {
  display: none;
}

select:required:invalid {
        color: #666;
      }
